<form>
  <br>
    <h5 *ngIf="!uploading">
      Ladda upp filer
      <br><br><input type="file" name="file" multiple (change)="onFileSelect($event)">
    </h5>

<div *ngIf="filesToUpload.length>0">
  <h5 *ngIf="!uploading">uppladningskö (klicka på "uppdatera arenan" nedan för att påbörja uppladdningen)</h5>
  <table>
    <thead>
      <tr>
        <th>Namn</th>
        <th>Storlek</th>
        <th *ngIf="uploading">Progress</th>
        <th *ngIf="uploading">Status</th>
        <th></th> <!-- Action -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let uploadFile of filesToUpload">
        <!-- Name -->
        <td>{{ uploadFile.file.name }}</td>
        <!-- size -->
        <td nowrap>{{ humanizeBytes(uploadFile.file.size) }}</td>
        <!-- Progress -->
        <td *ngIf="uploading">
          <div class="progress" style="margin-bottom: 0;">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': 50 + '%' }">{{uploadFile.progress.percent}} %</div>
          </div>
        </td>
        <!-- Status -->
        <td *ngIf="uploading" class="text-center">
          <span *ngIf="true">{{uploadFile.getUploadStateText()}}</span>
        </td>
        <td nowrap>
          <!-- delete icon -->
          <button *ngIf="!uploading" mat-icon-button mat-tooltip="ta bort" tooltip-position="after" (click)="removeFile(uploadFile)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td>
          <mat-icon class="file-upload-error" *ngIf="uploadFile.error"> error </mat-icon>
          <span class="file-upload-error" *ngIf="uploadFile.error"> {{uploadFile.json.userErrorMessage}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</form>
