<h1 mat-dialog-title>Exportera arenor till exel</h1>
<p>{{rowCount}} arenor kommer att exporteras. Vilka som exporteras styrs av sökvillkoren i listvyn (välj filter innan du öppnar dialogen).</p>

<mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <!-- header -->
  <mat-expansion-panel-header>
    <mat-panel-title> Alternativ </mat-panel-title>
    <mat-panel-description> klicka för att {{panelOpenState ? 'dölja' : 'välja vilken information som exporteras'}} </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- filnamn -->
  <div>
    <mat-form-field>
      <input matInput placeholder="Filnamn" [(ngModel)]="fileName">
    </mat-form-field>
  </div>
  <!-- kolumner -->
  <h5>Kolumner</h5>
  <div>
    <mat-checkbox *ngFor="let parameter of data.nameMap" [(ngModel)]="export[parameter.src]">{{parameter.dst}}</mat-checkbox>
  </div>
  <div mat-dialog-actions>
      <button mat-button (click)="setBoxValue(false); $event.preventDefault()">Avmarkera alla boxar</button>
      <button mat-button (click)="setBoxValue(true); $event.preventDefault()">Markera alla boxar</button>
    </div>
</mat-expansion-panel>

<!-- dialog action buttons -->
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Avbryt</button>
  <button mat-button (click)="onSave()" cdkFocusInitial>Spara</button>
</div>