<mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false">

  <mat-expansion-panel-header>
    <mat-panel-title> Filter </mat-panel-title>
    <mat-panel-description> klicka för att {{panelOpenState ? 'dölja' : 'visa'}} sökfälten </mat-panel-description>
  </mat-expansion-panel-header>

  <form [formGroup]="filterForm">

    <!------ Arena Name ---------------->
    <div class="arena-list-header">
      <mat-form-field>
        <input matInput formControlName="arenaName" placeholder="Namn/Alternativt namn">
      </mat-form-field>
    </div>

    <!------ FSF-ID ---------------->
    <div class="arena-list-header">
      <mat-form-field>
        <input matInput formControlName="fsfID" placeholder="FSF-ID">
      </mat-form-field>
    </div>

    <!------ Typ av arena ---------------->
    <div class="arena-list-header">
      <mat-select  placeholder="typ av arena" formControlName="arenaType">
        <mat-option [value]="null"> alla </mat-option>
        <mat-option *ngFor="let kind of arenaTypes" [value]="kind"> {{ kind }} </mat-option>
      </mat-select>
    </div>

    <!------ SMFF no. ---------------->
    <div class="arena-list-header">
      <mat-form-field>
        <input matInput formControlName="smffNbr" placeholder="Modellflygplatsnummer">
      </mat-form-field>
    </div>

    <!------ ICAO ---------------->
    <div class="arena-list-header">
      <mat-form-field>
        <input matInput formControlName="icao" placeholder="ICAO">
      </mat-form-field>
      <mat-checkbox [indeterminate]="filterForm.value.icaoDeprecated===null" (click)="toggleCheckbox('icaoDeprecated')" formControlName="icaoDeprecated">ICAO, nerlagd</mat-checkbox>
    </div>
    
    <!------ club ---------------->
    <div class="arena-list-header">
      <mat-form-field>
        <input type="text" matInput placeholder="klubbnamn"
               formControlName="clubName" [matAutocomplete]="autocompleteClubName">
      </mat-form-field>
      <mat-autocomplete #autocompleteClubName="matAutocomplete">
        <mat-option *ngFor="let club of filteredClubList" [value]="club.name">
          {{ club.name }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div>
      <mat-checkbox [indeterminate]="filterForm.value.officialMapArena===null" (click)="toggleCheckbox('officialMapArena')" formControlName="officialMapArena">Ingår i exporten till Svenska Flygfält</mat-checkbox>
    </div>
    <table>
      <!----- Aktiviteter --------->
        <tr><th colspan="4">aktiviteter</th></tr>
        <tr formGroupName="activity">
          <td><mat-checkbox [indeterminate]="filterForm.value.activity.takeOff===null" (click)="toggleActivityCheckbox('takeOff')" formControlName="takeOff">Startplats</mat-checkbox></td>
          <td><mat-checkbox [indeterminate]="filterForm.value.activity.landing===null" (click)="toggleActivityCheckbox('landing')" formControlName="landing">Landningsplats</mat-checkbox></td>
          <td colspan="3"><mat-checkbox [indeterminate]="filterForm.value.activity.inAir===null" (click)="toggleActivityCheckbox('inAir')" formControlName="inAir">I luften arena, t.ex. flyg-boxen inom konstflyget</mat-checkbox></td>
        </tr>
      
      <tr><th colspan="4">flygsport</th></tr>
      <tr formGroupName="sport">
        <td><mat-checkbox [indeterminate]="filterForm.value.sport.balooning===null" (click)="toggleSportCheckbox('balooning')" formControlName="balooning">Ballongflyg</mat-checkbox></td>
        <td><mat-checkbox [indeterminate]="filterForm.value.sport.parachuting===null" (click)="toggleSportCheckbox('parachuting')" formControlName="parachuting">Fallskärmshoppning</mat-checkbox></td>
        <td><mat-checkbox [indeterminate]="filterForm.value.sport.hanggliding===null" (click)="toggleSportCheckbox('hanggliding')" formControlName="hanggliding">Hängflyg</mat-checkbox></td>
        <td><mat-checkbox [indeterminate]="filterForm.value.sport.aerobatic===null" (click)="toggleSportCheckbox('aerobatic')" formControlName="aerobatic">Konstflyg</mat-checkbox></td>
      </tr>
      <tr formGroupName="sport">
        <td><mat-checkbox [indeterminate]="filterForm.value.sport.aeromodeling===null" (click)="toggleSportCheckbox('aeromodeling')" formControlName="aeromodeling">Modellflyg</mat-checkbox></td>
        <td><mat-checkbox [indeterminate]="filterForm.value.sport.aviation===null" (click)="toggleSportCheckbox('aviation')" formControlName="aviation">Motorflyg</mat-checkbox></td>
        <td><mat-checkbox [indeterminate]="filterForm.value.sport.gliding===null" (click)="toggleSportCheckbox('gliding')" formControlName="gliding">Segelflyg</mat-checkbox></td>
        <td><mat-checkbox [indeterminate]="filterForm.value.sport.paragliding===null" (click)="toggleSportCheckbox('paragliding')" formControlName="paragliding">Skärmflyg</mat-checkbox></td>
      </tr>
    </table>

  </form>

</mat-expansion-panel>
