<h2 *ngIf="!arena.id">Registrera ny flygsportarena</h2>
<h2 *ngIf="arena.id">flygsportsarenan {{arena.name}}, FSF-ID {{arena.id}}</h2>
<form #arenaForm="ngForm" (ngSubmit)="saveArena()">

<mat-tab-group>
  <!------ tab 1, Plats --------------------------------------------------------------------------->
  <mat-tab label="Platsen">
      <h3>Obligatoriska uppgifter</h3>
      <p>Positionen anges med GPS-positionen för dess mittpunkt. 
      Använd decimalgrader, omvandling från grader, minuter och sekunder kan göras <a href="https://www.gps-coordinates.net">här</a>.
      Luftrummet är en cylinder som börjar vid marken. Radien och höjden anges i meter.

      <!------ Namn ---------------->
      <p>
      <mat-form-field class="fsf-form">
        <input matInput placeholder="Arenans namn (officiellt)"
               required [maxLength]="maxLength.name" 
               [(ngModel)]="arena.name" name="name" #name="ngModel">
        <mat-error>{{ getErrorText(name.errors) }}</mat-error>
        <mat-hint align="end">{{ name?.value?.length }} / {{ maxLength.name }}</mat-hint>
      </mat-form-field>

      <!------ Alternativt Namn ---------------->
      <span class="{{getDisplayClass(arena.name2)}}">
        <mat-form-field>
        <input matInput placeholder="Alternativt namn (dagligt tal)"
               [maxLength]="maxLength.name"
               [(ngModel)]="arena.name2" name="name2" #name2="ngModel">
        <mat-error>{{ getErrorText(name2.errors) }}</mat-error>
        <mat-hint align="end">{{ name2?.value?.length }} / {{ maxLength.name }}</mat-hint>
        </mat-form-field>
      </span>
      <!------ Typ av arena ---------------->
      <p>
      <span class="{{getDisplayClass(arena.kind)}}">
        <mat-select   class="fsf-form" placeholder="typ av arena" [(ngModel)]="arena.kind" name="kind">
          <mat-option *ngFor="let kind of arenaTypes|async" [value]="kind"> {{ kind }} </mat-option>
        </mat-select>
      </span>
      <!------ ICAO ---------------->
      <p>
      <span class="{{getDisplayClass(arena.icao)}}">
        <mat-form-field matTooltip="för motorflygplatser, t.ex. ESSB för Bromma">
          <input matInput placeholder="ICAO-kod" 
                 [maxLength]="maxLength.icao" 
                 [(ngModel)]="arena.icao" name="icao" #icao="ngModel">
          <mat-error>{{ getErrorText(icao.errors) }}</mat-error>
          <mat-hint align="end">{{ arena?.icao?.length }} /{{maxLength.icao}}</mat-hint>
        </mat-form-field>
      </span>
      <span class="{{getDisplayClass(arena.icao_deprecated)}}">
        <mat-checkbox [(ngModel)]="arena.icao_deprecated" name="icao_deprecated">ICAO, nerlagd</mat-checkbox>
      </span>

      <!------ smff_nbr ---------------->
      <p>
      <span class="{{getDisplayClass(arena.ts_nbr)}}">
        <mat-form-field matTooltip="Transportstyrelsen diarienummer vid registrering av modellflygplatser">
          <input matInput placeholder="diarienummer, transportstyrelsen" 
                 [maxLength]="maxLength.ts_nbr"
                 [(ngModel)]="arena.ts_nbr" name="ts_nbr" #ts_nbr="ngModel">
          <mat-error>{{ getErrorText(ts_nbr.errors) }}</mat-error>
          <mat-hint align="end">{{ arena?.ts_nbr?.length }} /{{maxLength.ts_nbr}}</mat-hint>
        </mat-form-field>
      </span>

      <!------ modellflygnummer ---------------->
      <span class="{{getDisplayClass(arena.smff_nbr)}}">
        <mat-form-field matTooltip="Endast för modellflygplatser, exempel: SE-12345">
          <input matInput placeholder="modellflygplatsnummer" 
                 [maxLength]="maxLength.smff_nbr"
                 [(ngModel)]="arena.smff_nbr" name="smff_nbr" #smff_nbr="ngModel">
          <mat-error>{{ getErrorText(smff_nbr.errors) }}</mat-error>
          <mat-hint align="end">{{ arena?.smff_nbr?.length }} /{{maxLength.smff_nbr}}</mat-hint>
        </mat-form-field>
      </span>

      <!------ GPS ---------------->
      <p>
      <mat-form-field>
        <input matInput type="number" placeholder="longitud" 
               required gpsDecimalDegree
               [(ngModel)]="arena.longitude" name="longitude" #longitude="ngModel">
        <mat-hint align="end">decimalgrader, WGS84</mat-hint>
        <mat-error>{{ getErrorText(longitude.errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="latitud" 
               required gpsDecimalDegree
               [(ngModel)]="arena.latitude" name="latitude" #latitude="ngModel">
        <mat-hint align="end">decimalgrader, WGS84</mat-hint>
        <mat-error>{{ getErrorText(latitude.errors) }}</mat-error>
      </mat-form-field>
      
      <a mat-raised-button color="primary" (click)="openMapDialog($event)">visa på karta</a>

      <!------ Altitude, ground ---------------->
      <p>
      <span class="{{getDisplayClass(arena.altitude_ground)}}">
        <mat-form-field>
          <input matInput type="number" placeholder="markhöjd"
                 isInteger
                 [(ngModel)]="arena.altitude_ground" name="altitude_ground" #altitude_ground="ngModel">
          <mat-hint align="end">meter, MSL</mat-hint>
          <mat-error>{{ getErrorText(altitude_ground.errors) }}</mat-error>
        </mat-form-field>
      </span>
      <span class="{{getDisplayClass(arena.official_map_arena)}}">
        <mat-checkbox [(ngModel)]="arena.official_map_arena" name="official_map_arena">Ingår i exporten till Svenska Flygfält</mat-checkbox>
      </span>

      <!------ Luftrum, cylinder ---------------->
      <p>
      <span class="{{getDisplayClass(arena.radius)}}">
        <mat-form-field>
          <input matInput type="number" placeholder="radie på luftrummet"
                 isInteger
                 [(ngModel)]="arena.radius" name="radius" #radius="ngModel">
          <mat-hint align="end">meter</mat-hint>
          <mat-error>{{ getErrorText(radius.errors) }}</mat-error>
        </mat-form-field>
      </span>
      <span class="{{getDisplayClass(arena.height)}}">
        <mat-form-field>
          <input matInput type="number" placeholder="höjd på luftrummet" 
                 isInteger
                 [(ngModel)]="arena.height" name="height" #height="ngModel">
          <mat-hint align="end">meter, GND</mat-hint>
          <mat-error>{{ getErrorText(height.errors) }}</mat-error>
        </mat-form-field>
      </span>

      <!------ Konstflygbox ---------------->
      <p>
      <span class="{{getDisplayClass(arena.aerobaticBoxBottom)}}">
        <mat-form-field>
          <input matInput type="number" placeholder="konstflygbox, undersida"
                 isInteger
                 [(ngModel)]="arena.aerobaticBoxBottom" name="aerobaticBoxBottom" #radius="ngModel">
          <mat-hint align="end">meter, GND</mat-hint>
          <mat-error>{{ getErrorText(radius.errors) }}</mat-error>
        </mat-form-field>
      </span>
      <span class="{{getDisplayClass(arena.aerobaticBoxTop)}}">
        <mat-form-field>
          <input matInput type="number" placeholder="konstflygbox, översida" 
                 isInteger
                 [(ngModel)]="arena.aerobaticBoxTop" name="aerobaticBoxTop" #height="ngModel">
          <mat-hint align="end">meter, GND</mat-hint>
          <mat-error>{{ getErrorText(height.errors) }}</mat-error>
        </mat-form-field>
      </span>

      <!------ Radiofrekvens, telefon ---------------->
      <p>
      <span class="{{getDisplayClass(arena.radio)}}">
        <mat-form-field>
          <input matInput type="number" placeholder="radiofrekvens" 
                 [(ngModel)]="arena.radio" name="radio" #radio="ngModel">
          <mat-hint align="end">MHz</mat-hint>
          <mat-error>{{ getErrorText(radio.errors) }}</mat-error>
        </mat-form-field>
      </span>
      <span class="{{getDisplayClass(arena.phone)}}">
        <mat-form-field>
          <input matInput type="tel" placeholder="telefon" 
                 [maxLength]="maxLength.phone" 
                 [(ngModel)]="arena.phone" name="phone" #phone="ngModel">
          <mat-error>{{ getErrorText(phone.errors) }}</mat-error>
          <mat-hint align="end">{{ arena?.phone?.length }} / {{maxLength.phone}}</mat-hint>
        </mat-form-field>
      </span>

      <!------ url, email ---------------->
      <p>
      <span class="{{getDisplayClass(arena.url)}}">
        <mat-form-field class="fsf-form">
          <input  matInput type="url" placeholder="webbplats" 
                 [maxLength]="maxLength.url"
                 [(ngModel)]="arena.url" name="url" #url="ngModel">
          <mat-error>{{ getErrorText(url.errors) }}</mat-error>
          <mat-hint align="end">{{ arena?.url?.length }} / {{maxLength.url}}</mat-hint>
        </mat-form-field>
      </span>
      <span class="{{getDisplayClass(arena.email)}}">
        <mat-form-field class="fsf-form">
          <input matInput  type="email" placeholder="email" 
                 [maxLength]="maxLength.email"
                 [(ngModel)]="arena.email" name="email" #email="ngModel">
          <mat-error>{{ getErrorText(email.errors) }}</mat-error>
          <mat-hint align="end">{{ arena?.email?.length }} / {{maxLength.email}}</mat-hint>
        </mat-form-field>
      </span>

  </mat-tab>

  <!------ tab 2, Aktiviteter --------------------------------------------------------------------------->
  <mat-tab label="Aktiviteter">
    <h3>Aktiviteter på flygsportsarenan</h3>
    <!------ Start, landning, i luften ---------------->
    <table>
      <tr><th colspan="4">aktiviteter</th></tr>
      <tr>
        <td><mat-checkbox [(ngModel)]="arena.take_off" name="take_off">Startplats</mat-checkbox></td>
        <td><mat-checkbox [(ngModel)]="arena.landing" name="landing">Landningsplats</mat-checkbox></td>
        <td colspan="3"><mat-checkbox [(ngModel)]="arena.in_air" name="in_air">I luften arena, t.ex. flyg-boxen inom konstflyget</mat-checkbox></td>
      </tr>

      <tr><th colspan="4">flygsporter</th></tr>
      <tr>
        <td><mat-checkbox [(ngModel)]="arena.balooning" name="balooning">Ballongflyg</mat-checkbox></td>
        <td><mat-checkbox [(ngModel)]="arena.parachuting" name="parachuting">Fallskärmshoppning</mat-checkbox></td>
        <td><mat-checkbox [(ngModel)]="arena.hanggliding" name="hanggliding">Hängflyg</mat-checkbox></td>
        <td><mat-checkbox [(ngModel)]="arena.aerobatic" name="aerobatic">Konstflyg</mat-checkbox></td>
      </tr>
      <tr>
        <td><mat-checkbox [(ngModel)]="arena.aeromodeling" name="aeromodeling">Modellflyg</mat-checkbox></td>
        <td><mat-checkbox [(ngModel)]="arena.aviation" name="aviation">Motorflyg</mat-checkbox></td>
        <td><mat-checkbox [(ngModel)]="arena.gliding" name="gliding">Segelflyg</mat-checkbox></td>
        <td><mat-checkbox [(ngModel)]="arena.paragliding" name="paragliding">Skärmflyg</mat-checkbox></td>
      </tr>
    </table>
  </mat-tab>

  <!------ tab 3, Klubbar --------------------------------------------------------------------------->
  <mat-tab label="Klubbar">
    <h3>Aktiva Klubbar</h3>
    <p>Ange vilka FSF-anslutna klubbar som är aktiva på flygsportsarenan. Klubbnamnen kommer från IdrottOnline.
    <p>
    <mat-form-field class="fsf-full-width">
      <input type="text" matInput placeholder="klubbnamn" [(ngModel)]="clubInput.filter" name="club" [matAutocomplete]="auto">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let club of clubInput.filteredList" [value]="club.name">
        {{ club.name }}
      </mat-option>
    </mat-autocomplete>
    <button color="primary" mat-raised-button (click)="addClub()">lägg till klubben</button> 

    <br> filter: {{clubInput.filter}}

    <mat-list>
      <h3 mat-subheader>Klubbar med aktivitet på arenan</h3>
      <mat-list-item *ngFor="let club of arena.clubList">
        <mat-icon mat-list-icon>cloud_queue</mat-icon>
        <h4 mat-line *ngIf="club.hemsida"><a href="{{club.hemsida}}"> {{club.name}}</a></h4>
        <h4 mat-line *ngIf="!club.hemsida"> {{club.name}} </h4>
        <p mat-line> {{club.df}}, RF nummer {{club.rf_nr}} </p>
      </mat-list-item>
    </mat-list>

  </mat-tab>

  <!------ tab 4, Karta -------------------------------------------------------------------------->
  <!-- mat-tab label="Karta" -->

  <!-- /mat-tab -->

  <!------ tab 5, Bilder -------------------------------------------------------------------------->
  <mat-tab label="Bilder">

    <carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides">
      <slide *ngFor="let attachment of imageList; let index=index"
             [active]="false">
        <img src="rest/attachment.php?id={{attachment.id}}" style="margin:auto; max-height:600px; width: auto;">
        <!-- div class="carousel-caption">
          <h3 style="background-color: transparent;color: white;">Slide {{index + 1}}</h3>
        </div -->
      </slide>
    </carousel>

    <mat-card>
      <file-upload #imageUplad 
                   (change)="formInputChange()" 
                   (error)="formState = FormState.FailedSubmission"
                   (done)="onFilesSaved()"></file-upload>
    </mat-card>
  </mat-tab>

  <!------ tab 6, Kommentarer -------------------------------------------------------------------------->
  <mat-tab label="Kommentar">
    <mat-form-field class="fsf-full-width">
      <textarea matInput rows="15" placeholder="comment" [(ngModel)]="arena.comment" name="comment"></textarea>
      <mat-hint align="end">{{ arena.comment?.length }} / {{ maxLength.comment }}</mat-hint>
    </mat-form-field>
  </mat-tab>

  <!------ tab 7, lokala bestämmelser -------------------------------------------------------------------------->
  <mat-tab label="lokala bestämmelser">
    <p>Används primärt för att spara SMFFs flygplatsregler.
    <p>
    <mat-form-field class="fsf-full-width">
      <textarea matInput rows="15" placeholder="lokala bestämmelser" [(ngModel)]="arena.local_regulations" name="local_regulations"></textarea>
      <mat-hint align="end">{{ arena.local_regulations?.length }} / {{ maxLength.local_regulations }}</mat-hint>
    </mat-form-field>
    
    <mat-list>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Filer</h3>
      <mat-list-item *ngFor="let file of files['1']">
        <a href="rest/attachment.php?id={{file.id}}"><mat-icon mat-list-icon>cloud_download</mat-icon></a>
        <h4 mat-line>{{file.file_name}}</h4>
        <p mat-line> {{file.created}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

    <file-upload #regulationsFileUplad
                 (change)="formInputChange()" 
                 (error)="formState = FormState.FailedSubmission"
                 (done)="onFilesSaved()"></file-upload>
    
  </mat-tab>

</mat-tab-group>
  
  <!------ common footer -------------------------------------------------------------------------->
  
  <!------ Anti SPAM ---------------->
      
  <div *ngIf="this.formState === FormState.FailedSubmission" class="air-warn"> 
    <mat-icon color="warn">error</mat-icon> Uppgifterna sparades inte. Korrigera de ogiltiga värdena och skicka in igen.
  </div>
  <div  *ngIf="this.formState === FormState.Saved" > 
    <mat-icon color="accent">done</mat-icon> Uppgifterna har sparats.
  </div>
  <div *ngIf="this.formState !== FormState.Pristine && this.formState !== FormState.Saved">
  Glöm inte att klicka på "Uppdatera arenan" för att spara uppgifterna i databasen.
  </div>
  <br>
  <button *ngIf="currentUser$ | async" [disabled]="this.formState === FormState.Pristine || this.formState === FormState.Saved" 
          type="submit" color="primary" mat-raised-button>{{submittButtonText()}}</button>

  <h4 *ngIf="!(currentUser$ | async)">Logga in för att {{submittButtonText()}} (överst till höger)</h4>
</form>
