<h3>
  Flygsportens arenor
</h3>
<p>
Luften är flygsportens arena. För att komma dit behöver vi dock starta och senare behöver vi även landa. 
Start- och landningsplatser tillhör också flygsportens arenor.
<p>
På denna hemsida samlar <a href="http://www.flygsport.se">Svenska Flygsportförbundet</a> uppgifter om flygsportens arenor. 
Det finns flera syften för att samla informationen, bl.a.
<ul>
  <li>Flygintresserade ska hitta till våra kubbar och aktiviteter.</li>
  <li>FSF ska kunna visa på omfattningen av verksamheten för att få bättre gensvar mot RF och myndigheter, så som transportstyrelsen.</li>
  <li>FSF ska kunna ta kontakt med berörda klubbar när förbundet får kännedom om förändringar i luftrum.
</ul>
