.map {
  position: fixed;
  box-sizing: border-box;
  height: 100%;
  width: 100%; 
}

.ol-control button {
  background: #4f5659;
}

.ol-control, .ol-control:hover {
  background-color: rgba(79, 84, 86, .25);
}

