<p *ngIf="selectedArena && !dialogViewArena" >
  {{ selectedArena.name }} ( {{ selectedArena.longitude }}, {{ selectedArena.latitude }} )

  <button mat-raised-button color="primary"type="submit" (click)="onGotoArena(arena)" >
    mer info om arenan
  </button>
</p>

<div #map id="map"></div>

