<mat-sidenav-container fullscreen>

<mat-toolbar color="primary" class="air-top-bar mat-elevation-z6" >
  <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  <span class="toolbar-spacer"></span>
  <h1 class="md-title text-center">Arenor inom Svenska Flygsport</h1>
  <span class="toolbar-spacer"></span>
  <holmby-auth-menu></holmby-auth-menu>
</mat-toolbar>

  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <app-sidenav >

      <app-sidenav-group title="Arenor">
        <app-sidenav-item *ngIf="currentUser$ | async" text="Registrera ny" link="/new"></app-sidenav-item>
        <app-sidenav-item text="Lista alla" link="/list"></app-sidenav-item>
        <app-sidenav-item text="Karta" link="/map"></app-sidenav-item>
    </app-sidenav-group>

    <app-sidenav-group title="Klubbar" *ngIf="currentUser$ | async">
      <app-sidenav-item text="Registrera ny" link="/new-club"></app-sidenav-item>
      <app-sidenav-item text="Lista alla" link="/list-clubs"></app-sidenav-item>
    </app-sidenav-group>

    <app-sidenav-group title="Övrigt">
        <app-sidenav-item text="Info" link="/about"></app-sidenav-item>
    </app-sidenav-group>
    
    </app-sidenav>
  </mat-sidenav>

  <div class="air-content-wrapper">
    <router-outlet></router-outlet> 
  </div>

</mat-sidenav-container>
