Klicka på en rad för att visa mer info om arenan. Klicka på <mat-icon color="primary">map</mat-icon> för att visa arenan på en karta.
<p>Kolumnen namn visar arenans officiella namn. <mat-icon color="primary"> info </mat-icon> betyder att det finns ett alternativt namn på arenan (dagligt tal).
Håll musen över det listade namnet, eller klicka på <mat-icon color="primary"> info </mat-icon>, för att se det andra.
<br><br>
<button color="primary" mat-raised-button (click)='saveAsExcel()'>exportera arenor till exel</button>

<div class="arena-list-container mat-elevation-z2">

  <fsf-arena-filter [clubList]="clubStore.clubList$|async" [arenaTypes]="arenaTypes|async" ></fsf-arena-filter>

  <mat-divider></mat-divider>

  <mat-table #table [dataSource]="arenaDataSource" matSort>

    <!-- FSF-ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> FSF-ID </mat-header-cell>
      <mat-cell *matCellDef="let arena"> {{arena.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Namn </mat-header-cell>
      <mat-cell *matCellDef="let arena"> 
        <span matTooltip={{arena.name2}}> {{arena.name}} 
          <mat-icon *ngIf="arena.name2" (click)="openAltNameDialog($event, arena.name2)" color="primary"> info </mat-icon>
        </span>
      </mat-cell>
    </ng-container>

    <!-- Info Column -->
    <ng-container matColumnDef="info">
      <mat-header-cell *matHeaderCellDef mat-sort-header> info </mat-header-cell>
      <mat-cell *matCellDef="let arena"> {{toInfoString(arena)}} </mat-cell>
    </ng-container>

    <!-- Info Column -->
    <ng-container matColumnDef="icao">
      <mat-header-cell *matHeaderCellDef mat-sort-header> icao </mat-header-cell>
      <mat-cell *matCellDef="let arena"> {{arena.icao}} </mat-cell>
    </ng-container>

    <!-- Info Column -->
    <ng-container matColumnDef="smff_nbr">
      <mat-header-cell *matHeaderCellDef mat-sort-header> smff </mat-header-cell>
      <mat-cell *matCellDef="let arena"> {{arena.smff_nbr}} </mat-cell>
    </ng-container>

    <!-- TS nbr Column -->
    <ng-container matColumnDef="ts_nbr">
      <mat-header-cell *matHeaderCellDef mat-sort-header> TS diarienummer </mat-header-cell>
      <mat-cell *matCellDef="let arena"> {{arena.ts_nbr}} </mat-cell>
    </ng-container>

    <!-- Map Column -->
    <ng-container matColumnDef="map">
      <mat-header-cell *matHeaderCellDef mat-sort-header> kartlänk </mat-header-cell>
      <mat-cell *matCellDef="let arena" (click)="onViewOnMapArena(arena)"> <mat-icon color="primary">map</mat-icon> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectArena(row)"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 20, 50, 200, 1000]"
                 [showFirstLastButtons]="true">
  </mat-paginator>

</div>
