/* Structure */
.arena-list-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.arena-list-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.form-field-half {
  font-size: 14px;
  width: 50%;
}

.mat-table {
  overflow: auto;
}