@import '~@angular/material/theming';

.docs-component-viewer-sidenav{
    border: none;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 28px;
    margin: 0;
}

.docs-component-viewer-sidenav h3 {
    padding: 0 16px;
    margin: 0;
    background-color: mat-color($mat-blue, 500);
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

.docs-component-viewer-sidenav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
