<div *ngIf="formState===FormState.UPDATED">
  <h2>Klubbinformationen har uppdaterats</h2>
</div>

<div *ngIf="formState===FormState.CREATED">
  <h2>Klubben har skapats</h2>
</div>

<form *ngIf="formState===FormState.EDIT||formState===FormState.PROCESSING" 
      [formGroup]="clubFormGroup" (ngSubmit)="onSubmit()" class="fsf-form">
  <div>
    <mat-form-field class="fsf-full-width">
      <input matInput placeholder="namn" formControlName="name" required>
      <mat-hint>exempel: Ale Modellflygklubb</mat-hint>
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="fsf-full-width">
      <input matInput placeholder="namn, förkortat" formControlName="name2" required>
      <mat-hint>exempel: Ale MFK</mat-hint>
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="fsf-full-width">
      <mat-select placeholder="specialförbund" formControlName="sf">
        <mat-option value="Svenska Flygsportförbundet">Svenska Flygsportförbundet</mat-option>
        <mat-option value=''>ej ansluten till RF</mat-option>
      </mat-select>
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="fsf-full-width">
      <input matInput placeholder="organisationsnummer" formControlName="org_nr">
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="fsf-full-width">
      <input matInput placeholder="IdrottOnline-nummer" formControlName="rf_nr">
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>
  </div>
  <div>
      <mat-form-field class="fsf-full-width">
        <input matInput placeholder="kommun" formControlName="kommun">
        <mat-error>obligatorisk uppgift</mat-error>
      </mat-form-field>
   </div>
   <div>
    <mat-form-field class="fsf-full-width">
      <input matInput placeholder="e-post" formControlName="epost">
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="fsf-full-width">
      <input matInput placeholder="hemsida" formControlName="hemsida">
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-checkbox formControlName="active">Aktiv</mat-checkbox>
  </div>

  <div>
    <button mat-raised-button type="submit">{{getSubitActionText()}}</button>
  </div>
</form>
