.fsf-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.fsf-full-width {
  width: 100%;
}

.fsf-70-width {
  width: 70%;
}

.fsf-half-width {
  width: 50%;
}

.fsf-30-width {
  width: 30%;
}