Klicka på en rad för att visa mer info om klubben.
<br><br>

<div class="arena-list-container mat-elevation-z2">

  <mat-table #table [dataSource]="clubsDataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Namn </mat-header-cell>
      <mat-cell *matCellDef="let club"> {{club.name}} </mat-cell>
    </ng-container>

    <!-- Name2 Column -->
    <ng-container matColumnDef="name2">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Namn, förkortat </mat-header-cell>
      <mat-cell *matCellDef="let club"> {{club.name2}} </mat-cell>
    </ng-container>

    <!-- rf_nr Column -->
    <ng-container matColumnDef="rf_nr">
      <mat-header-cell *matHeaderCellDef mat-sort-header> RF-nummer </mat-header-cell>
      <mat-cell *matCellDef="let club"> {{club.rf_nr}} </mat-cell>
    </ng-container>

    <!-- kommun Column -->
    <ng-container matColumnDef="kommun">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Kommun </mat-header-cell>
        <mat-cell *matCellDef="let club"> {{club.kommun}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectClub(row)"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 20, 50, 200, 1000]"
                 [showFirstLastButtons]="true">
  </mat-paginator>

</div>
